:root {
  --DQ_Color: #005FAF;
  --DQ_Color_Hover: #004e8d;
}

.sidebar {
  width: 160px;
  height: calc(100vh - 40px);
  background-color: var(--DQ_Color); 
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0px 0px 0px 0px;
  border-radius: 0px 35px 35px 0px;
  position: fixed;
}

.sidebar-menu a {
  text-decoration: none;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}


.sidebar-logo img{
  width: 160px;
}



.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  padding: 10px;
}

a{
  color: white;
  font-size: 20px;
}

a:hover{
  color: white
}

.sidebar-menu li:hover {
  background-color: var(--DQ_Color_Hover);
  border-radius: 4px;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}
