.modal{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
    
}

.modal-content {
  background: #fff;
  width: 400px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
 
.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
  
.modal-actions button {
  padding: 8px 20px;
  background-color: var(--DQ_Color);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
  
