.page-details-view{
    margin: 25px 35px 0px 25px;
}

.page-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.page-actions{
    display: flex;
    justify-content: space-between;
}