:root {
  --DQ_Color: #005FAF;
  --DQ_Color_Hover: #004e8d;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: var(--DQ_Color); 
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar-menu a {
  text-decoration: none;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.sidebar-logo h2 {
  background-color: var(--DQ_Color);
  color: white;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar-logo span {
  font-size: 18px;
  font-weight: bold;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  padding: 10px;
}

a{
  color: white;
  font-size: 20px;
}

a:hover{
  color: white
}

.sidebar-menu li:hover {
  background-color: var(--DQ_Color_Hover);
  border-radius: 4px;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}

.logout-button{
  margin-top: 280px;
}