.edit-user{
  /* background-color: red; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-user-container {
  width: calc(30%);
  height: calc(60%);
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .edit-user-container h2 {
    font-size: 20px;
    color: var(--DQ_Color);
    margin-bottom: 20px;
  }
  
  .edit-user-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .edit-user-container input,
  .edit-user-container select {
    width: 95%; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  
  .edit-user-container button {
    padding: 8px 15px;
    background-color: var(--DQ_Color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-user-container button:hover {
    background-color: #004080;
  }
  
  .edit-user-container .cancel-button {
    background-color: #6c757d;
  }
  
  .edit-user-container .cancel-button:hover {
    background-color: #5a6268;
  }

  .edit-actions{
    display: flex;
    justify-content: space-between;
  }
  

  input, select {
    box-sizing: border-box;
  }
  