@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.login-container {
    width: 100%; 
    height: 100%; 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.login-content{
    background-color: #005FAF;
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.dq-logo{
    margin: 80px 0px 0px 0px;
    width: 75%;
    
}

.cms-title{
    margin: 50px 0px 25px 0px;
    font-size: 25px;

}

.signin-button{
    width: 85%;
    height: 6vh;
    border-radius: 7px;
    border: 0px;
    margin-top: 10px;
    background-color: #707070;
    color: white;
    font-size: 18px;
}



.signin-button:hover{
    background-color: #474747;
}


.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.login-input-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}


.login-input {
    border-radius: 8px;
    width: 85%;
    height: 7vh;
    padding-left: 10%;
    border: 0px;
    font-size: 115%;
}
.login-form{
    width: 100%;

}

.faUser, .faLock {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
    height: 40%;
}