.delete-button{
    background-color: rgb(190, 6, 6);
    color: white;
    margin: 0px;
    padding: 10px 15px 10px 15px;
}

.delete-button:hover{
    background-color: rgb(155, 4, 4);
    color: white;
}