@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
:root {
  --DQ_Color: #005FAF;
  --DQ_Color_Hover: #004e8d;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

input{
  border: .3px solid black;
  margin: 2px;
}

h2{
  padding: 0px;
  margin: 10px 0px 2px 0px;
}

.add-button{
  background-color: var(--DQ_Color);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 15px;
}


.app-container {
  display: flex;
}



.content {
  justify-content: flex-end;
  width: 1000px;
  /* padding-left: 20px; */
}
input{
  padding-left: 10px;
  font-size: 18px;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  font-size: 14px;
  border-radius: 40px;

}


table th{
  background-color: var(--DQ_Color);
  color: white;
  height: 20px;
  font-weight: bold;
}

table tr:hover{
  background-color: #f1f1f1;
}



table th{
  text-align: left;
  padding: 12px 15px;
  border: 1px solid #ddd;
}

table td{
  padding: 0px 0px 0px 20px;
}

.search-input{
  margin-bottom: 15px;
  padding: 1px 0px 0px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 250px;
  font-size: 13px;
  height: 30px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}


.table-action-button{
  margin: 5px;
  /* padding: 6px; */
  padding: 3px;
  /* width: 27px; */
  font-size: 18px;
  color: rgb(68, 65, 65);
  
  background-color: white;
}

.table-action-button:hover{
  color: white;
  background-color: var(--DQ_Color_Hover);
}

.header-controls{
  display: flex;
  justify-content: space-between;
}

.page-title{
  font-weight: bold;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  font-size: 30px;
}