:root {
  --DQ_Color: #005FAF;
}

.label-list {
  font-family: Arial, sans-serif;
  width: calc(100% - 100px);

}


.label-list .header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.action-column {
  display: flex;
  gap: 10px;
}
